<%- include('partials/header.ejs') %>

<!--================Checkout Area =================-->
<section class="checkout_area padding_top">
  <div class="container">
    <div class="billing_details">
      <form name="checkoutForm" action="/checkout" onsubmit="return validate()" method="post">
        <div class="row">
          <div class="col-lg-8">
            <h2>Shipping Address</h2>
            <div class="row mt-4">
              <% for( let i = 0; i < address.length; i++ ) { %>
              <div class="col-lg-6">
                <label class="card">
                  <input name="address" id="r<%= i %>" class="radio" type="radio" value="<%= address[i]._id %>" />

                  <span class="plan-details">
                    <span class="plan-type"><%= address[i].name %></span>
                    <span class="plan-cost"><%= address[i].house %></span>
                    <span><%= address[i].mob %></span>
                    <span><%= address[i].city %></span>
                    <span><%= address[i].pincode%></span>
                  </span>
                </label>
              </div>

              <% } %>
            </div>

            <a class="btn_3 mt-3" href="/profile/add-address">Add Address</a>
          </div>
          <div class="col-lg-4">
            <div class="order_box mt-3">
              <h2>Add Coupons</h2>
              <input
                type="text"
                name="coupon"
                placeholder="Enter Your Code Here"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Enter Your Code Here'"
                class="single-input" style="background-color: white;"
              />
              <a class="genric-btn info radius text-center mt-4">Redeem</a>
            </div>
            <div class="order_box mt-3">
              <h2>Your Order</h2>
              <ul class="list">
                <% products.forEach(el => { %>

                <li>
                  <a href="/" aria-hidden="true"
                    ><%= el.product.title %>
                    <span class="middle">x <%= el.quantity %> </span>
                    <span class="last">₹<%= el.subtotal %>.00</span>
                  </a>
                </li>

                <% }) %>
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#"
                    >Subtotal
                    <span>₹<%= total %>.00</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                    >Shipping
                    <span>Flat rate: ₹50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#"
                    >Total
                    <span>₹<%= total+50 %>.00</span>
                  </a>
                </li>
              </ul>

              <div class="creat_account">
                <input type="checkbox" id="f-option4" name="tnc" />
                <label for="f-option4">I’ve read and accept the </label>
                <a href="#">terms & conditions*</a>
              </div>

              <button type="submit" class="btn_3 mt-4 mx-auto">Proceed to Payment</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->
<style>
  :root {
    --card-line-height: 1.2em;
    --card-padding: 1em;
    --card-radius: 0.5em;
    --color-green: #21cbfe;
    --color-gray: #e2ebf6;
    --color-dark-gray: #c4d1e1;
    --radio-border-width: 2px;
    --radio-size: 1.5em;
  }

  body {
    color: #263238;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 2em 6vw;
  }

  .grid {
    display: grid;
    grid-gap: var(--card-padding);
    margin: 0 auto;
    max-width: 60em;
    padding: 0;

    @media (min-width: 42em) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    background-color: #fff;
    border-radius: var(--card-radius);
    position: relative;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .radio {
    font-size: inherit;
    margin: 0;
    position: absolute;
    right: calc(var(--card-padding) + var(--radio-border-width));
    top: calc(var(--card-padding) + var(--radio-border-width));
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .radio {
      background: #fff;
      border: var(--radio-border-width) solid var(--color-gray);
      border-radius: 50%;
      cursor: pointer;
      height: var(--radio-size);
      outline: none;
      transition: background 0.2s ease-out, border-color 0.2s ease-out;
      width: var(--radio-size);
    }
    .radio::after {
      border: var(--radio-border-width) solid #fff;
      border-top: 0;
      border-left: 0;
      content: '';
      display: block;
      height: 0.75rem;
      left: 25%;
      position: absolute;
      top: 50%;
      transform: rotate(45deg) translate(-50%, -50%);
      width: 0.375rem;
    }

    .radio:checked {
      background: var(--color-green);
      border-color: var(--color-green);
    }

    .card:hover .radio {
      border-color: var(--color-dark-gray);
    }
    .card:checked {
      border-color: var(--color-green);
    }
  }

  .plan-details {
    border: var(--radio-border-width) solid var(--color-gray);
    border-radius: var(--card-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: var(--card-padding);
    transition: border-color 0.2s ease-out;
  }

  .card:hover .plan-details {
    border-color: var(--color-dark-gray);
  }

  .radio:checked ~ .plan-details {
    border-color: var(--color-green);
  }

  .radio:focus ~ .plan-details {
    box-shadow: 0 0 0 2px var(--color-dark-gray);
  }

  .radio:disabled ~ .plan-details {
    color: var(--color-dark-gray);
    cursor: default;
  }

  .radio:disabled ~ .plan-details .plan-type {
    color: var(--color-dark-gray);
  }

  .card:hover .radio:disabled ~ .plan-details {
    border-color: var(--color-gray);
    box-shadow: none;
  }

  .card:hover .radio:disabled {
    border-color: var(--color-gray);
  }

  .plan-type {
    color: var(--color-green);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1em;
  }

  .plan-cost {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.5rem 0;
  }

  .slash {
    font-weight: normal;
  }

  .plan-cycle {
    font-size: 2rem;
    font-variant: none;
    border-bottom: none;
    cursor: inherit;
    text-decoration: none;
  }

  .hidden-visually {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>

<script>
  for (let i = 0; i < Number('<%= address.length %>'); i++) {
    $(`#r${i}`).on('click', function () {
      $(this).parent().find('a').trigger('click');
    });
  }

  // $('#r12').on('click', function(){
  //   $(this).parent().find('a').trigger('click')
  // })
  function validate() {
    if (document.querySelector('input[name="address"]:checked') == null) {
      customAlert('Please select a shipping address.');
      return false;
    }

    if (!document.checkoutForm.tnc.checked) {
      customAlert('Please accept terms and conditions.');
      return false;
    }

    return true;
  }
  function customAlert(message) {
    Swal.fire(message);
  }
</script>

<%- include('partials/footer.ejs') %>
