<%- include('partials/header.ejs') %>

<section class="confirmation_part padding_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="container">
          <div class="row">
            <!-- <div class="col-lg-6">
              <div class="single_confirmation_details">
                <h4>order info</h4>
                <ul>
                  <li>
                    <p>order id</p>
                    <span>: </span>
                  </li>

                  <li>
                    <p>total</p>
                    <span>: INR</span>
                  </li>
                </ul>
              </div>
            </div> -->
            <div class="col-lg-12">
              <div class="single_confirmation_details">
                <h4>Shipping Address</h4>
                <ul>
                  <li>
                    <p>House</p>
                    <span>: <%= address.house %></span>
                  </li>
                  <li>
                    <p>Landmark</p>
                    <span>: <%= address.landmark %></span>
                  </li>
                  <li>
                    <p>City</p>
                    <span>: <%= address.city %></span>
                  </li>
                  <li>
                    <p>State</p>
                    <span>: <%= address.state %></span>
                  </li>
                  <li>
                    <p>postcode</p>
                    <span>: <%= address.pincode %></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="order_details_iner">
                <h3>Product Details</h3>
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col" colspan="2">Product</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% order.products.forEach(el => { %>
                    <tr>
                      <th colspan="2"><span><%= el.product.title %> </span></th>
                      <th>x<%= el.quantity %></th>
                      <th><span>₹<%= el.subtotal %></span></th>
                    </tr>
                    <% }) %>
                    <tr>
                      <th colspan="3">Subtotal</th>
                      <th>₹<%= order.total %></th>
                    </tr>
                    <tr>
                      <th colspan="3">shipping</th>
                      <th>₹50.00</th>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th scope="col" colspan="3"></th>
                      <th scope="col">₹<%= order.total+50 %></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="order_box mt-3">
          <h2>Payment Method</h2>

          <a href="#" id="cod12">
            <button type="button" class="btn btn-dark btn-lg btn-block mt-3">Cash On Delivery</button>
          </a>
          <a href="#">
            <button type="button" id="rzp-button1" class="btn btn-warning btn-lg btn-block mt-3">Pay</button>
          </a>
          <a href="#">
            <button type="button" class="btn btn-primary btn-lg btn-block mt-3">Paypal</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var orderId;
  $(document).ready(function () {
    var settings = {
      url: '/create/orderId',
      method: 'POST',
      timeout: 0,
      headers: {
        'Content-Type': 'application/json',
      },
      data: JSON.stringify({
        amount: '<%= ((order.total+50)*100) %>',
      }),
    };

    //creates new orderId everytime
    $.ajax(settings).done(function (response) {
      orderId = response.orderId;
      console.log(orderId);
      $('#rzp-button1').show();
    });
  });

  document.getElementById('rzp-button1').onclick = function (e) {
    var options = {
      key: '<%= key %>', // Enter the Key ID generated from the Dashboard
      amount: '<%= ((order.total+50)*100) %>', // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: 'INR',
      name: 'Hourglass',
      description: 'Buy Furniture',
      image: 'https://example.com/your_logo',
      order_id: orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        location.href="/order-success";
      },
      theme: {
        color: '#3399cc',
      },
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
      customFailedAlert(response.error.message);
    });
    rzp1.open();
    e.preventDefault();
    function customFailedAlert(message) {
      Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: message,
      });
    }
  };

  document.getElementById('cod12').onclick = ()=>{
    $.ajax({
      url: '/order-confirmation',
      method: 'POST',
      // timeout: 0,
      // headers: {
      //   'Content-Type': 'application/json',
      // },
      // data: JSON.stringify({
      //   amount: '',
      // }),
    }).then((response)=>{
      location.href="/order-success"
    }
    )
  }

</script>
<%- include('partials/footer.ejs') %>
