<%- include('partials/header.ejs') %>

<!--================Profile Account =================-->
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">



<section class="login_part padding_top">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="text-center card-box mx-auto">
          <div class="member-card pt-2 pb-5">
              <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
              <div class="mt-4">
                  <h4><%= user.fname %> <%= user.lname %></h4>
                  <p class="text-muted">Email: <%= user.email %></p>
                  <p class="text-muted">Phone: <%= user.mob %></p>
              </div>
              <ul class="social-links list-inline">
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
              </ul>
              <button type="button" class="btn btn-primary btn-rounded waves-effect w-md waves-light">Edit Profile</button>
          </div>
      </div>

      </div>
      <div class="col-lg-9 col-md-8 col-sm-12">
    <section id="minimal-statistics">

          <h4 class="text-uppercase">Your Profile Page</h4>

      <div class="row mt-4">
        <div class="col-lg-4 col-md-12">
          <a href="/address"><div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <span style="color: black;">Addresses</span>
                  </div>
                  <div class="align-self-center">
                    <i class="icon-user success font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
          
        </div>
        <div class="col-lg-4 col-md-12">
          <a href="/orders"><div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="media-body text-left">
                    <span style="color: black;">Your Orders</span>
                  </div>
                  <div class="align-self-center">
                    <i class="icon-book-open primary font-large-2 float-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
          
        </div>
        <div class="col-lg-4 col-md-12">
          <a href="#"><div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="media d-flex">
                  <div class="align-self-center">
                    <i class="icon-speech warning font-large-2 float-left"></i>
                  </div>
                  <div class="media-body text-right">
                    <span style="color: black;">Your Comments</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a>
        </div>
          
      </div>
    

    </section>
  
        <div class="row">
          <div class=" col-lg-6 col-md-12">
            <a href="/wishlist"><div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                    </div>
                    <div class="media-body">
                      <h4>Wishlist</h4>
                    </div>
                    <div class="align-self-center">
                      <i class="icon-heart danger font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div></a>
          </div>
          <div class=" col-lg-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body cleartfix">
                  <div class="media align-items-stretch">
                    <div class="align-self-center">
                    </div>
                    <div class="media-body">
                      <h4>Total Savings</h4>
                      <span>Rewards and Coupon Savings</span>
                    </div>
                    <div class="align-self-center">
                      <i class="icon-wallet success font-large-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>
