<%- include('partials/header.ejs') %>

  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Wishlist</h2>
              <p>Home <span>-</span>Wishlist</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->

<section class="cat_product_area section_padding">
  <div class="container">
    <% if (wishlist.length>0) { %>

    <h2>Your Wishlist</h2>
    <div class="row align-items-center latest_product_inner">
      <% wishlist.forEach(element => { %>
      <div class="col-lg-4 col-sm-6">
        <div class="single_product_item">
          <img src="product_img/<%= element.product.thumbnail %> " alt="" />
          <div class="single_product_text">
            <h4><%= element.product.title%></h4>
            <h3>₹ <%= element.product.price %></h3>
            <a href="#" class="add_cart">+ add to cart</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <% }else{ %>
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"></svg>
            <div>You have not added anything to wishlist</div>
        </div>
    <% }%>
  </div>
</section>
<%- include('partials/footer.ejs') %>